
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSansBengali', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: black;
}

/*navbar*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 10%;
    background: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.logo {
    position: relative;
    font-size: 2.2vw;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    font-family: 'SolaimanLipi', sans-serif;
}

.navbar a {
    display: inline-block;
    font-size: 1.7vw;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2vw;
    transition: .3s;
    opacity: 0;
    animation: slideUP .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    font-family: 'SolaimanLipi', sans-serif;
}

.navbar a:hover {
    color: #0ef;
    text-decoration: underline;
}

/*home*/

/* font */
@font-face {
  font-family: 'SolaimanLipi';
  src: url('fonts/SolaimanLipi.ttf') format('truetype');
  src: url('fonts/NotoSansBengali-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home {
    width: 100%;
    min-height: 10vh;
    margin-top: 7vw;
    background-color: #000;
    display: flex;
    align-items: center;
}

.home-content {
    max-width: 50%;
    display: flex;
    padding-left: 4vw;
    flex-direction: column;
    justify-content: center;   /* ✅ vertically center */
    align-items: center;       /* ✅ horizontally center (optional) */
}

.home-content h1 {
    font-size: 4vw;
    font-weight: 700;
    padding-top: .4vw;
    padding-bottom: .7vw;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    font-family: 'SolaimanLipi', sans-serif;
    background-color: #000;
}

.home-content h3 {
    font-size: 2vw;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    font-family: 'NotoSansBengali', sans-serif;
    background-color: #000;
}

.home-content h4 {
    font-size: 2vw;
    font-weight: 700;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    line-height: 1.6;
    background-color: #000;
}
.home-content a{
    margin-top: 0.5vw;
}

.home-content h4 span {
    color: #0ef;
    font-size: 2vw;
    font-weight: 700;
}
.phonecall{
    display: block;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    font-family: 'NotoSansBengali', sans-serif;
    opacity: 0;
    animation: slideBottom1 2s ease forwards;
}
.floating-call-button {
      position: fixed;
      bottom: 1.5vh;
      right: 1.7vw;
      background-color: #28a745;
      color: white;
      padding: .7vw .9vw;
      border-radius: 2vw;
      font-size: .8vw;
      font-weight: bold;
      text-decoration: none;
      box-shadow: 0 .4vw .8vw rgba(0,0,0,0.3);
      z-index: 9999;
      animation: slideBottom 0.6s ease forwards;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;  
}

.floating-call-button.active {
  opacity: 1;
  visibility: visible;
  animation: slideBottom 0.6s ease forwards;
}

.floating-call-button:hover {
    background-color: #e1c912;
    color: #000;
    box-shadow: 0 0 1vw .6vw #6d620b, 0 0 2vw .8vw  #62580b;
    transform: scale(1.05);
    transition: 
    all 0.3s ease;
}


.call-button {
  position: fixed;
  bottom: 8vh;
  right: 1.7vw;
  background-color: #0ef;
  color: #ffffff;
  padding: .7vw .9vw;
  border-radius: 2vw;
  background-color: #28a745;
  box-shadow: 0 .4vw .8vw rgba(0,0,0,0.3);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: .8vw;
  z-index: 1000;
  animation: slideBottom 0.6s ease forwards;
}

.call-button:hover {
    background-color: #e1c912;
    color: #000;
    box-shadow: 0 0 1vw .6vw #6d620b, 0 0 2vw .8vw  #897c18;
    transform: scale(1.05);
    transition: 
    all 0.3s ease;
}


.phonecall:hover {
      color: #e1c912;
}
@keyframes slideBottom1 {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

.home-content h4:nth-of-type(2) {
    margin-bottom: 2vw;
    background-color: rgb(188, 143, 168);

}
.DownloadDiv {
    display: flex;
    justify-content: center;
    margin: 1vw;
    font-size: 1.7vw;
}
.btn-box {
    display: inline-block; /* আবার inline-block করে দিন */
    padding: .8vw 2vw;
    background: #0ef;
    border-radius: 2vw;
    font-size: clamp(1vw, 2.5vw, 1.2);
    text-align: center;
    color: #081b29;
    letter-spacing: .1vw;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50pc cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4vw;
}

.owner-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;

}

.ambulance-bg {
  width: 100%;
  display: block;
  animation: fadeInOut 30s infinite;
}

/* মালিকদের ছবি */
.owner-overlay {
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  background-color: #000;
  gap: 2vw;
}

.owner-img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  border: .2vw solid #fff;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

/* Animation */
@keyframes fadeInOut {
  0%, 90% {
    opacity: 0;
    transform: translateY(20px);
  }
  5%, 20% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*about*/

.about {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    /*align-items: center;*/
    /*gap: 1.5rem;*/
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 4vw 4vw;
}

.about-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    width: 29vw;
    opacity: 1;
    align-items: center;
    background-color: #000;
    position: relative;
} 

/* ছবির বাহিরে এনিমেটেড বর্ডার */
.about-img::before {
    content: '';
    position: absolute;
    width: 37vw;  /* কমানো হয়েছে */
    height: 37vw; /* কমানো হয়েছে */
    border-radius: 5vw;
    background: linear-gradient(45deg, rgba(3, 255, 7, 0.664), #ff0088, rgb(246, 255, 0), #1e00ff);
    background-size: 15vw 15vw;
    z-index: 1;
    animation: animateBorder 6s linear infinite;
    opacity: 1;
    top: -1vw;    /* উপরে উঠানো হয়েছে */
    left: -1vw;   /* বামে সরানো হয়েছে */
    opacity: 0.8;
}


/* ছবির ভেতর actual image */
.abt-res {
    width: 35vw;
    height: 35vw;
    border-radius: 5vw;
    border: 5px solid #0ef;
    position: relative;
    z-index: 2;
}

/* এনিমেশন কিফ্রেম */
@keyframes animateBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        ground-posibacktion: 0% 50%;
    }
}
.about-text {
    background-color: #000;
    width: 50vw;
}

.about-text h2,#services-section h2 {
    font-size: 3vw;
    color: white;
    margin-bottom: 2vw;
    font-family: 'SolaimanLipi', sans-serif;
}

.about-text h2 span {
    color: #0ef;
}

.about-text p {
    color: aliceblue;
    font-size: 1.5vw;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
}
.about-text p span {
    color: #0ef; 
    font-size: 1.7vw;
}

.abtbtn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 1.2vw;
    text-align: center;
    color: #081b29;
    letter-spacing: .1vw;
    text-decoration: none;
    font-weight: 600;
}

.abtbtn-box:hover {
    box-shadow: 0 0 .3vw cyan, 0 0 1.6vw cyan, 0 0 3.4vw cyan, 0 0 7vw cyan, 0 0 15vw cyan;
}


/* Service */

.services-section {
  padding: .3vw 1.2vw;
  background-color: #000;
  text-align: center;
}

.section-title {
  font-size: 3vw;
  margin-bottom: 2.5vw;
  color: #ffffff;
  font-family: 'SolaimanLipi', sans-serif;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 2VW;
  justify-items: center;
}

.service-item {
  background: #fff;
  border-radius: 1vw;
  padding: 1.5vw;
  box-shadow: 0 .5vw 1.2vw rgb(181, 181, 181);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-.6vw);
  box-shadow: 0 1vw 2vw rgba(255, 156, 7, 0.988);
}

.service-item img {
  width: 100%;
  height: 56.25%;
  object-fit: cover;
  border-radius: 1vw;
  margin-bottom: .8vw;
  background-color: #14ff08;
}

.service-item h3 {
  margin: .5vw 0 1vw;
  font-size: 1.5vw;
  color: #007bff;
}

.service-item p {
  font-size: 1.2vw;
  line-height: 1.7;
  color: #555;
}

/* Traning-Section */
.Traning-Section{
    padding: 3vw 3vw;
}
.Traning-Section h2 span{
    color: #0ef;
}
.imagecontrainer {
  display: flex;
  gap: 1vw;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1vw;
}

.imagecontrainer img {
  width: 45%;
  border-radius: 1.5vw;
  margin: .7vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  object-fit: cover;
}
.textcontrainer p {
    font-size: 1.5vw;
    line-height: 2;
}
.textcontrainer p span{
    color: #14ff08;
}


/* Server Project */
    #Project {
        padding: 1vw 3vw;
        background-color: #000;
    }
    #Project h3 {
        color: #0ef;
        margin-top: 1.5vw;
    }
    #Project p{
        line-height: 2;
        font-size: 1.5vw;
    }
    #Project p span{
        color: #0ef;
        font-size: 1.7vw;
        font-weight: bolder;
    }
    .navbarproject {
      display: inline-block;
      text-align: center;
      padding: 1vw 0;
      box-shadow: 0 .2vw .6vw rgba(0,0,0,0.1);
      user-select: none;
    }

    .navbarproject a {
      position: relative;
      color: #0ef;
      text-decoration: none;
      font-weight: 600;
      margin: 0 1vw;
      padding: .7vw 0;
      font-size: 1.1vw;
      transition: color 0.3s ease;
    }

    .navbarproject a:hover {
      color: #2ec1c9;
    }

    .navbarproject a.active {
      color: #2ec1c9;
      font-weight: 700;
    }

    .navbarproject a::after {
      content: "";
      position: absolute;
      width: 0;
      height: .2vw;
      left: 50%;
      bottom: 0;
      background-color: #2ec1c9;
      transition: width 0.3s ease, left 0.3s ease;
      border-radius: .3vw;
    }

    .navbarproject a:hover::after,
    .navbarproject a.active::after {
      width: 100%;
      left: 0;
    }

    #videos {
      display: flex;
      flex-wrap: wrap;
      gap: 1.6vw;
      justify-content: center;
      padding: 1.5vw;
    }

    .video {
      width: 300px;
    }

    .video iframe {
      width: 100%;
      height: 170px;
      border-radius: .4vw;
      box-shadow: 0 .3vw .5vw rgba(79, 83, 80, 0.835);
    }

    .video p {
      margin: 5px 0;
      font-weight: bold;
      font-size: 14px;
    }

    h2 {
      text-align: center;
      margin-top: 30px;
      color: #333;
    }

    .allproject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000;
    }

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
    background: #000;
    }

/* Navbar */

/*contacts*/

.contacts {
    display: grid;
    /*grid-template-columns: repeat (2, 1fr);*/
    align-items: center;
    gap: 2vw;
    padding: 0.7VW;
    justify-content: center;
    background-color: #000;

}

.contact-text {
    align-content: center;
    background-color: #000;
}

.contact-text h2,.services-section h2,.about-text h2,#Project h2 {
    font-size: 3vw;
    line-height: normal;
    text-align: center;
    color: white;

}

.contact-text h2 span,.services-section h2 span,.about-text h2 span,#Project h2 span{
    color: #0ef;
}

.contact-text h4 {
    margin: .6vw 0;
    color: rgb(228, 228, 228);
    font-size: 1.7vw;
    font-weight: 600;
    text-align: center;
}

.contact-list {
    margin-bottom: 2vw;
    text-align: center;
}

.contact-list li {
    margin-bottom: .3vw;
    display: block;
    font-size: 1.7vw;
    letter-spacing: .1vw;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 1vw;
    font-weight: 600;
    transition: all .40s ease;
    padding: .5vw;
}

.contact-icons {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;     /* vertically center (if needed) */
    gap: 1.1vw; /* আইকনের মধ্যে কিছু ফাঁকা রাখতে চাইলে */
    margin-top: 1vw; /* উপরের অংশ থেকে কিছু দূরত্ব */
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}


.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    background: transparent;
    border: .2vw solid #0ef;
    border-radius: 50%;
    font-size: 1.5vw;
    color: #0ef;
    text-decoration: none;
    margin: 0px 1vw 0px 0;
    opacity: 1;
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 .3vw cyan, 0 0 1.6vw cyan, 0 0 3.4vw cyan, 0 0 7vw cyan, 0 0 15vw cyan;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 1.5vw;
    background: black;
    font-weight: 300;
    margin-top: 0px;
    font-size: 1.6vw;
}
.top{
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    display: flex;
    opacity: 0;
    transition: all .4s;
}

.top.active{
    bottom: 2.1vw;
    pointer-events: auto;
    opacity: 1;
}

.top i{
    color: black;
    background: #0ef;
    font-size: 1.5vw;
    padding: .8vw;
    border-radius: .6vw;
}

.top i:hover {
    box-shadow: 0 0 .3vw cyan, 0 0 1.6vw cyan, 0 0 3.4vw cyan, 0 0 7vw cyan, 0 0 15vw cyan;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 180;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 140;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 90;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path5 {
    100% {
        stroke-dashoffset: 75.4;
    }
}

@keyframes animate-path6 {
    100% {
        stroke-dashoffset: 85.07;
    }
}

@keyframes animate-path7 {
    100% {
        stroke-dashoffset: 84.48;
    }
}

@keyframes animate-path8 {
    100% {
        stroke-dashoffset: 140.74;
    }
}


@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {

    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideUP {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .header{
        display:block;
        padding-left: 3VW;
    }
    .logo {
        position: relative;
        font-weight: 500;
        font-size: 4.5VW;
    }
    .logo::after{
        content: "\a";
        white-space: pre;
    }
    .navbar a{
        font-size: 3.5vw;
    }
   .navbar a:nth-of-type(1) {
     margin-left: 0px;
    }
    .navbar a::after{
        content: "\a";
        white-space: pre;
    }
  

    /* home */
    .home {
        flex-direction: column;
        padding: 13vw 5% 2vw;
        justify-content: center;
        align-items: center;
        min-height: auto;
        position: relative;
        background-color: #000;
        margin-top: 3vw;
    }

    .home-content {
        max-width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .home-content h3,.home-content h4, .home-content h4 span,.home-content a{
        font-size: 3.5vw;
        font-weight: normal;
    }
    .owner-img {
        width: 25vw;
        height: 25vw;
        margin-bottom: 2vw;
    }

    .btn-box {
        padding: 1vw 2vw;
        border-radius: 1vw;
        font-size: 1.5vw;
    }
    .floating-call-button {
        bottom: 2vw;
    }

    .img {
        position: relative; /* fixed বা absolute থেকে relative করে নিচে আনলাম */
        left: 0;
        bottom: 0;
        margin: 2vw 0 0 0;
        width: 100%;
        opacity: 1; /* মোবাইলে ইমেজ দেখানো হবে */
        animation: none; /* মোবাইলে এনিমেশন বন্ধ */
    }

    /* About */

    .about {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 3% 3%;
        margin-right: 0px;
        background-color: #000;
        width: 100%;
         min-height: auto;
    }
    .about-img {
        background-color: #000;
        width: 100%;
    }

    .about-img {
        margin-bottom: 2vw;
        background-color: #000;
    }

    .about-text {
        margin-top: 1vw;
        text-align: center;
        width: 100%;
    }
    .about-text h2, .services-section h2, #Project h2, .contact-text h2, .service-item h3, .Traning-Section h2 {
        font-size: 4.5vw;
    }
    .about-text p,.about-text p span, .service-item p, .projectP, .contact-text h4,#Gmail,#Project p,#Project h3,#Project p span,.navbarproject a,.contact-list li,.contact-list li a, .textcontrainer p{
        font-size: 3.5vw;
    }
    .about-text p span {
        color: #14ff08;
        font-size: 3.6vw;
    }
    .contact-icons i,.top i,.DownloadDiv a {
        font-size: 2.8vw; /* বা px দিয়ে যেমন: 24px */
    }

    .about-img::before {
        left: 50%;
        top: -1vw;
        transform: translateX(-50%);
    }
    /* Service */
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .service-item {
        margin-bottom: 1vw;
    }
    .service-item img {
        height: 70%;
    }

    /* Traning Section */
    .imagecontrainer {
        .imagecontrainer {
        display: flex;
        flex-direction: column;
        justify-content: center;   /* ভার্টিকাল অক্ষ বরাবর সেন্টার (যদি হাইট থাকে) */
        align-items: center;       /* হরিজন্টাল অক্ষ বরাবর সেন্টার */
        gap: 1vw;
        padding: 1vw;
}
    }
    .imagecontrainer img {
        width: 90%;
        margin-bottom: 1.5vw;
    }

   


    /* Project */
    #Project {
        padding: 2% 2%;
    }
   
    /* Contact */
    .contacts {
        background-color: #000;
    }
   
    .service-item{
        background-color: #fff;
        height: 40vw;
    }

    .contact-icons i {
        width: 4.5vw;
        height: 4.5vw;
    }

    .service-item h3 {
        margin: .5vw 0 1vw;
        color: #007bff;
    }
    .service-item P {
        background-color: #fff;
        margin-bottom: 0;
    }

}
    
@media  (max-width: 700px) {
    body {
        overflow-x: hidden;
        background-color: #000;
    }

    .header {
        display: block;
    }

    .logo {
        position: relative;
        text-align: center;
    }

    .logo::after {
        content: "\a";
        white-space: pre;
    }

    .navbar a:first-of-type {
      margin-left: 0;
    }

    .navbar a::after {
        content: "\a";
        white-space: pre;
    }

    /* Home */
    .home {
        flex-direction: column;
        padding: 1vw 0%;
        justify-content: center;
        align-items: center;
        min-height: auto;
        position: relative;
        background-color: #000;
        margin-top: 10vh;
    }
    .home-content {
        max-width: 100%;
        text-align: center;
        background-color: #000;
        padding-left: 0;
    }
    .img {
        position: relative; /* fixed বা absolute থেকে relative করে নিচে আনলাম */
        left: 0;
        bottom: 0;
        margin: 2vw 0 0 0;
        width: 100%;
        opacity: 1; /* মোবাইলে ইমেজ দেখানো হবে */
        animation: none; /* মোবাইলে এনিমেশন বন্ধ */
    }

    .btn-box {
        padding: 1vw 2vw;
        border-radius: 1vw;
        font-size: 1.5vw;
    }
    /* About */
    .about {
        grid-template-columns: 1fr;
        padding: 2vw 2% 0;
        text-align: center;
        
    }
    .about-img {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .about-img::before {
        width: 47vw;
        height: 47vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .abt-res {
        width: 45vw;
        height: 45vw;
        margin-top: 1vw;
    }
    .about-text {
        width: 100%;
    }
    /* Service */
     .services-grid {
        grid-template-columns: 1fr;
        background-color: #000;
    } 
    .service-item {
        height: fit-content;
    }
    .service-item img {
        max-width: 95%;
        max-height: 50vw;
        margin-top: 2.5%;
    }
    .service-item p {
        margin-bottom: 3vw;
    }

    /* Project */

    /* Service */
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-item {
        width: 95%;
    }   
}


@media (max-width: 400px) {
    body {
        overflow-x: hidden;
        background-color: #000;
    }

    .header {
        display: block;
    }

    .logo {
        position: relative;
        text-align: center;
    }

    .logo::after {
        content: "\a";
        white-space: pre;
    }

    .navbar a {
      
    }

    .navbar a::after {
        content: "\a";
        white-space: pre;
    }

    /* Home */
    .home {
        flex-direction: column;
        padding: 1vw 0%;
        justify-content: center;
        align-items: center;
        min-height: auto;
        position: relative;
    }
    .home-content {
        max-width: 100%;
        text-align: center;
        padding-left: 0;
    }

    

    .img {
        position: relative; /* fixed বা absolute থেকে relative করে নিচে আনলাম */
        left: 0;
        bottom: 0;
        margin: 2vw 0 0 0;
        width: 100%;
        opacity: 1; /* মোবাইলে ইমেজ দেখানো হবে */
        animation: none; /* মোবাইলে এনিমেশন বন্ধ */
    }


    .btn-box {
        padding: 1vw 2vw;
        border-radius: 1vw;
        font-size: 1.5vw;
    }

    /* About */
    .about {
        grid-template-columns: 1fr;
        text-align: center;
        background-color: #000;
        
    }
    .about-img {
        width: 100%;
        margin: 0;
    }

    .about-img::before {
        width: 47vw;
        height: 47vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .abt-res {
        width: 45vw;
        height: 45vw;
        margin-top: 1vw;
    }
    .about-text {
        width: 100%;
        margin: 0;
    }

    /* Service */
    .sub-title {
    padding-bottom: 15px;
  }
}
